@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to week 3 assignment!</h1>
    <br />
    <h3>Uge 3 opgaven var meget interessant. </h3>
    <br />
    <h3>Jeg havde problemer med at publish på Azure, HTTP error 500</h3>
    <br />
    <img src="~/dist/img/1.png">
    <br />
    <h3>fordi jeg glemte at tilføge databasen</h3>
    <br />
    <img src="~/dist/img/2.png" />
    <br />
    <h3>men... alt fint til sidst</h3>
    <br />
    <img src="~/dist/img/3.png" />
</div>
